<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xD</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    
   <div class="container">
    <nav class="container p-1">
    <a href="logout" id="logout" class="nav btn btn-danger">Logout</a>
    <a href="profile/<%= users %>"> <p  class="nav btn btn-dark m-1" id="logout">Welcome <%= name %> <img id="avatar" src="/<%= photo %>" alt=""> </p></a>
    <a href="post"  id="logout" class="nav btn btn-success">Post</a>

    <h1 class="mb-4">Blog</h1>
</nav>
    <div class="container" id="container-blog">

       <div>
        
        <% test.forEach(entry=>{ %>
            <div id="container-post">
           <a id="category-header" class="text-center" href="posts/<%= entry.id %>"> <p ><%= entry.title%></p></a>

        </div> 

              <% }) %>
        
        <% data.forEach(entry=>{ %>
            <div id="container-post">
            <p><%= entry.user_name %></p>
            <p id="title"><%= entry.title %></p>
            <p><%= entry.text %></p>
            <img src="/<%=entry.user_photo%>" alt="">
        </div> 

              <% }) %>

        </div> 
        
    </div>




   </div>


<style>
    #avatar{
        max-width: 50px;
        max-height: 50px;
    }
    #category-header{
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }
    #logout{
        margin: 1rem;
    }
    #title{
        font-size: 3rem;
    }
    #container-post{
        border: 1px black solid;
        margin: 1rem;
        padding: 1rem;
    }
    #container-blog{
        padding: 2rem;
        width: 80%;
        height: auto;
        border: 1px black solid;
        background-color: white;

    }
    #welcome-nav{
        font-size: 1rem;
    }
    .nav{
        margin:1rem;
    }
   .pojemnik{
    text-align: center;
    color: white;
    border: black solid 1px;
    width: 10%;
    height: 15%;
    padding: 1rem;
    margin: 10px;
    word-wrap: break-word;

   }
   body{
    background-color: rgba(70, 75, 240, 0.79);
    font-family: 'Open Sans';

   }
   #test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .nav{
    float: right;
    text-decoration: none;
    margin: 0.5rem;
    padding-left: 10px;
   }
</style>




</script>
    
</body>

</html>